.navbar{
    padding: 0 !important;
}

.nav-item{
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
        background-color: #007bff;
        color: #fff;
        transition: 0.5s;
    }
}

.page-content{
    display: none;
}

#adminTable td:nth-child(18),#vendorTable td:nth-child(36), #vendorTable td:nth-child(40){
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
}

.table-scroll-container {
  max-height: 400px; /* Adjust as needed */
  overflow-y: auto;
  margin-top: 10px;
  border: 1px solid #ddd;
}

/* Optional: Fix the table header */
.table-scroll-container thead th {
  position: sticky;
  top: 0;
  background-color: #343a40; /* match your thead background */
  color: white;
  z-index: 1;
}