.navbar{
    padding: 0 !important;
}

.nav-item{
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
        background-color: #007bff;
        color: #fff;
        transition: 0.5s;
    }
}

.page-content{
    display: none;
}

#adminTable td:nth-child(18),#vendorTable td:nth-child(36), #vendorTable td:nth-child(40){
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
}